/* Here I set up some styling for the wrapper on the input section. */
.input-Wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px darkgray;
    display: flex;
    align-items: center;

}
/* This will kind of make the actual search bar borders invisible*/
input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}
/* This is to keep the searchbar from highlighting when clicked on*/
input:focus {
    outline: none;
}

#search-icon {
    color: goldenrod;
}