/* Here I create some styling to apply to the division where the searchbar and results will be. This is pretty much the body for a normal page.*/
.App {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
}

.searchBarContainer {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

