/* Here I set up some parameters to apply to the entire page*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
/*And these sections of course apply to their specific divisions. The rest of the project will have similar css for each division in the module.*/
h1 {
color: goldenrod;
background-color: black;
}
p{
  color: goldenrod;
  background-color: black;
}